@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    background-color:rgba(26, 11, 46, 1) ;
    color: white;

}



.btn{
    width: 135px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    align-items: center;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: white;
    border: none;
    border-radius: 100px;
     cursor: pointer;
    transition: transform 0.2s;
}

.btn:hover{
    transform: scale(1.5);
}

.description{
     color: #ece9e9de;

    font-size: 1rem;
    font-weight: 300;

}


/*Navbar Design*/



    nav{
       
         max-width: 1240px;
         display: flex;
          margin: 0 auto;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 92px;
    }

    nav>span{
    margin-right: 5px;
    display: none;
}

    .display-flex{
        display: flex;
    }

    #menu-item{
         gap: 35px;
         
         font-size: 16px;
         font-weight: 400;
         color: #ece9e9f3;
          
    }

     

    .gradient{
  
  background: -webkit-linear-gradient(rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.items{
    font-size: 16px;
    font-weight: 500;
}
.primary-button{
    font-size: 1rem;
    font-weight: 600;
   
}


   
   hr {
   height: 1px;
    border: none;
    background: rgba(189, 120, 246, 0.307);
}


/*Banner Section*/

.banner{

    background-image: url('assets/hero-bg.png');
    height: 760px;
    width: 100%;
   
     display: flex;
     flex-direction: column;
     
    justify-content: center;
     align-items: center;
     text-align: center;
    background-size: cover;
    background-position: center;
    
}

.hero-image-container{
    position: relative;
    margin-bottom: 30px;
}
/*animation add */
.microphone-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.badge-new{
    position: absolute;
    top: 5px;
    right: 30px;
    background-color: #00FF88;
    color: #1A0B2E;      
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    z-index: 10;

    cursor: pointer;
    transition: transform 0.2s;
}

.badge-new:hover{
    transform: scale(1.5);
}


   .banner-title{
    width: 550px;
    height: 73px;
    font-size:3.75rem;
    font-weight:Extra Bold;
    text-align: center;
   text-transform: capitalize;
   
}

#spotify{
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));
    margin-top: 25px;
    width: 201px;
   height: 44px;
   font-size:1rem ;
   font-weight: 500;
}

#subscribe{
    color:#00FF88;
     width: 135px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    align-items: center;
    background: transparent;
    
    border-radius: 100px;
     cursor: pointer;
    transition: transform 0.2s;
    border:1px solid #00FF88;
   
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 500;
  
}

#subscribe:hover{
    transform: scale(1.5);
}

/*podcast section*/


.podcast {
       max-width: 1240px;
         height: 500px;
         margin: 0 auto;
         /*text-align: center;*/
        
         margin-bottom: 30px;
}

.podcast h2{
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));
font-size: 3rem;
font-weight: 700;
text-align: center;
margin-top: 20px;
}

#podcast-description{
    text-align: center;
    height: 148px;
   
    padding: 20px 200px;

    margin-bottom: 45px;
    
    
}

.podcast hr{

     height: 1px;
    border: none;
    background: rgba(189, 120, 246, 0.152);
    margin-bottom: 25px;

}

.card-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
   justify-items: center;
   align-items: center;
  margin-top: 80px;
  text-align: center;
    
}

.podcast-card h3{

    color: #00FF88;

    font-size: 3rem;
    margin-bottom: 16px;
   
}


/*takewave-section*/

main{
    background: rgba(35, 14, 61, 1);

}

.main-title{
    font-size: 3rem;
   font-weight: 700;
   color: #FFFFFF;
    text-align: center;
    padding-top: 120px;
    
}


.takewave-container{
        max-width: 1240px;
  
    min-height: 300px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 16px;

    


}

.takewave-container img{
    width: 50px;
    margin-bottom: 24px;
}
.takewave-container h4{
   font-size: 1.5rem;
   font-weight: 700;
   margin-bottom: 15px;
}

#grid-cards{

    border-radius: 45px;
     background: rgba(53, 17, 101, 0.4);
     padding: 30px;
    
   display: flex;
   flex-direction: column;   
    justify-content: center; 
    align-items: flex-start;      
    text-align: left;
}



.takewave-card-1{
     
    grid-row: 1 / span 2;

    
    width: 380px;
   height: 480px;
   
   
}



.takewave-card-2{

     grid-column: 2 / span 2;
     width: 790px;
     height: 225px;
    margin-bottom: 30px;

    
  

}

.takewave-card-3{

     grid-column: 2 / span 2;
     width: 790px;
height: 225px;

    margin-top: -12px;
  

}


.takewave-card-4{

    width: 790px;
   height: 273px;
    

     grid-column: 1 / span 2;

     margin-top: -20px;
     

}

.takewave-card-5{
    width: 380px;
   height: 273px;
   margin-top: -20px;
   
  
}











/*Responsive code */

@media screen and (max-width:576px){
    nav{
       width: 100%;
        padding: 0 16px;
        
    }
      nav>span{
   /* margin-right: 5px;*/
    display: inline ;
}
#menu-item{
    display: none;
}
.primary-button {
    display: none;
}




  .banner{
  
     width: 100%;
    
    height: auto;
    
  padding: 40px 16px 64px;
    background-position: center;
     
    background-position: top center;

    background-size: 100% 500px;   
    background-repeat: no-repeat;
  
   
  }

  .hero-image-container{
    width: 100%;
     position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    
  }

    .circle{
    width: 220px;
    max-width: 100%;
    margin: 0 auto;
  }

  .microphone-img{
    width: 120px;
  }

  .banner-title{
    width: auto;
    max-width: 320px;
    
    font-size:2rem;
    margin-top: 16px;
    
}

.description{
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 320px;
    margin-top: 8px;
  }

 
   .badge-new{
    top: 6px;
    right: 50%;
    left: auto;
    /*transform: translateX(110px);*/
    transform:translateX(110px); 
    font-size: 14px;
    padding: 6px 12px;
  }

  .banner-button{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    
  }

  #spotify,
  #subscribe{
    width: auto;
    min-width: 140px;
    max-width: none;
    margin: 0;
  }
  .btn:hover,
  #subscribe:hover,
  .badge-new:hover{
    transform: none;
  }

   .badge-new:hover{
    transform: none !important;
  }


  /*podcast*/

  .podcast {
       max-width: 1240px;
       width: 100%;
       height: auto;
       
         
}

.podcast h2{
  
font-size: 2.5rem;

}


#podcast-description{
    
    
   width: 100%;
    padding: 0px;
    height: auto;
    padding: 0 15px;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 20px;
    

    
}

#podcast-description .description{
    
    
   width: 100%;
   max-width: 100%;
   margin: 0 auto;    
    
}


.card-container{
    
    grid-template-columns: repeat(2 ,1fr);
  
  margin-top: 40px;

  gap: 40px;
 
    
}

.podcast-card h3{


    font-size: 2.5rem;
   
   
}

/*takewave-section*/

.takewave-container{
  
    grid-template-columns: 1fr;
     width: 100%;
     margin: 0; 
     gap: 20px;
     padding: 0 16px;
     margin: 30px auto;
     height: auto;

}


.takewave-card-1 , .takewave-card-2,
.takewave-card-3,.takewave-card-4,
.takewave-card-5{
     


    grid-column: auto;
    grid-row: auto;
    width: 100%;
    height: auto;
    min-height: fit-content;

    margin-top: 0;
    margin-bottom: 0;
        
    padding: 32px 24px;
       
   
}

.main-title{
    font-size: 1.5rem;
   font-weight: 700;
   color: #FFFFFF;
   
    padding-top: 50px;
    
    
}










}

 
  
  


